<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <script src="JS/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="JS/jsrender.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        // Send an AJAX request
        $.getJSON('http://search.twitter.com/search.json?lang=ja&q=%23cod2012jp&callback=?').then(
         function(data){
           $( "#list" ).html(
             $( "#template" ).render( data )
           );
         }, 
         function (){ alert('error'); }
       );
      });
    </script>
    <style>
      ul li:nth-child(2n) {
        background-color: #b6ff00;
      }
      ul li:nth-child(2n-1) {
        background-color: #0ff;
      }
      * { font-size: x-large } 
    </style>
  </head>
  <body>
    <script id="template" type="text/x-jsrender">
      {{:query}}
      <ul style="list-style-type: none">
        {{for #data.results }}
          <li>
            <table>
              <tr>
                <td rowspan="3"><img src="{{:profile_image_url}}"></td>
                <td style="text-align: left;">{{>from_user}}</td>
              </tr>
              <tr>
                <td style="text-align: left;">{{>text}}</td>
              </tr>
              <tr>
                <td style="text-align: left;">{{>created_at}}</td>
              </tr>
            </table>
          </li>
        {{/for}}
      </ul>
    </script>
    <script id="nestTemplate" type="text/x-jsrender">
      <li>
        <table>
          <tr>
            <td rowspan="3"><img src="{{:profile_image_url}}"></td>
            <td style="text-align: left;">{{>from_user}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">{{>text}}</td>
          </tr>
          <tr>
            <td style="text-align: left;">{{>created_at}}</td>
          </tr>
        </table>
      </li>
    </script>
    <div id="list"/>
  </body>
</html>
