<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <script src="JS/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="JS/jsrender.js" type="text/javascript"></script>
    <script src="JS/jquery.observable.js" type="text/javascript"></script>
    <script src="JS/jquery.views.js" type="text/javascript"></script>
    <style>
      * { font-size: x-large } 
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td style="width: 40%;"><div id="edit"></div></td>
        <td style="width: 60%;"><div id="list"></div></td>
      </tr>
    </table>
    
    <script id="editTemplate" type="text/x-jsrender">
      Edit
      <ul style="list-style-type: none">
        {{for #data.results }}
          <li style="height: 200px;">
            <table>
              <tr>
                <td rowspan="3"><img src="{{:profile_image_url}}"></td>
                <td style="text-align: left;">{{>from_user}}</td>
              </tr>
              <tr>
                <td style="text-align: left;"><input data-link="text"></div>
              </tr>
              <tr>
                <td style="text-align: left;">{{>created_at}}</td>
              </tr>
            </table>
          </li>
        {{/for}}
      </ul>
    </script>
    <script id="template" type="text/x-jsrender">
      Reference
      <ul style="list-style-type: none">
        {{for #data.results tmpl="#nestTemplate" /}}
      </ul>
    </script>
    <script id="nestTemplate" type="text/x-jsrender">
      <li style="height: 200px;">
        <table>
          <tr>
            <td rowspan="3"><img src="{{:profile_image_url}}"></td>
            <td style="text-align: left;">{{>from_user}}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><div data-link="text"></div>
          </tr>
          <tr>
            <td style="text-align: left;">{{>created_at}}</td>
          </tr>
        </table>
      </li>
    </script>
    <script type="text/javascript">
      $.templates({
        listTmpl: "#template",
        editTmpl: "#editTemplate"
      });
      $(function () {
        $.getJSON('http://search.twitter.com/search.json?lang=ja&q=%23cod2012jp&callback=?').then(
         function(data){
           $.link.listTmpl( "#list", data );
           $.link.editTmpl( "#edit", data );
         }, 
         function (){ alert('error'); }
       );
      });
    </script>
  </body>
</html>
